$parts: 50;
div {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 50%;
}

@for $i from 0 through $parts + 1 {
  div:nth-child(#{$i}) {
    background: hsl(200, 100%, $i * 2%);
    box-shadow: 0 0 20px 20px rgba(hsl(200, 100%, $i + $parts/2), 0.03);
  }
}

body {
  background: black;
}

p {
  color: white;
}
