.centered-container
  .card
    .card__front.does-trick--split
      .card__part.card__part--upper.upper-rounded
        .card__header.upper-rounded
          .header__icon.header__icon--left onClick="history.go(0)" ↺
          .header__title Humanity Settings
          .header__icon.header__icon--right data-click-toggle="card--rotate-horizontally" data-target="card" ⇄
        .card__part-content.padded--slightly.left-aligned
          .h3.divider General Settings
          
          
          input type="checkbox" id="enableHumor"
          label.checkbox for="enableHumor" Enable Humor?
          
          input type="checkbox" id="enableCreativity"
          label.checkbox for="enableCreativity" Enable Creativity?          
                    
      .card__part.card__part--lower.lower-rounded
         .card__part-content.padded--slightly.left-aligned
           .h3.divider Mental Settings
           
           input type="checkbox" id="enableEmpathy"
           label.checkbox for="enableEmpathy" Enable Empathy? 
 
           input type="checkbox" id="enableStupidity"
           label.checkbox for="enableStupidity" Disable Stupidity?

         .card__footer.lower-rounded#adv data-click-toggle="opened" data-target="card__front"
           small 
             a View advanced settings
         
      .card__part.card__part--middle.centered-container.left-aligned.padded
        .h2.divider Danger Zone
        button.button.button--danger.button--block data-trigger-event="resetCheckboxes" data-click-toggle="opened" data-target="card__front" Reset All Humanity
        small Beware, all humanity will be reset.
    .card__back
      .card__header.upper-rounded
        .header__title Humanity Settings
        .header__icon.header__icon--right data-click-toggle="card--rotate-horizontally" data-target="card" ⇄
      .card__part-content.padded--slightly.left-aligned
        .h3.divider The Flipside Quote
        div “A man who wants to lead the orchestra must turn his back on the crowd.” — Max Lucado
