$beats: 5;
@function b($n) {
  @return percentage($n / $beats);
}

$duration: 2s;
$ease: cubic-bezier(.6, 0, .4, 1);

#app {
  animation-duration: $duration;
  animation-timing-function: $ease;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  will-change: transform;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 25vmin;
  width: 25vmin;
  background: #eee;
  background-image: radial-gradient(circle at center, #FFF 45%, transparent 45%), linear-gradient(to right, transparent 49.99%, #ccc 50%);
}

.boxes,
.box {
  animation: inherit;
}


/* ---------------------------------- */

.-blue {
  background: #5D88C5;
}
.-red { background: #F04F3D; }
.-yellow { background: saturate(#F7C213, 10%); }
.-green { background: #3AAF56; }

/* ---------------------------------- */

.boxes {
  animation-name: box-anim;
}

@keyframes box-anim {
  #{b(0)} {
    transform: rotate(-.125turn);
  }
  #{b(5)} {
    transform: rotate(-1.125turn);
  }
}

#app {
  animation-name: box-container;
}

@keyframes box-container {
  #{b(0)}, #{b(3)}, #{b(4.5)}, #{b(5)} {
    transform: none;
  }
  #{b(3.5)} {
    transform: rotate(.03turn);
  }
}

/* ---------------------------------- */

.-blue {
  animation-name: blue-anim;
  transform-origin: bottom right;
}

@keyframes blue-anim {
  #{b(0)} {
    transform: translateY(-100%);
  }
  #{b(1)} {
    transform: 
      translateX(-100%) 
      translateY(-100%) 
      rotate(.25turn);
  }
  #{b(2)} {
    transform: 
      translateX(0) 
      translateY(-100%) 
      rotate(-.25turn);
  }
  #{b(2.00001)}, #{b(3.75)} {
    transform: 
      translateX(0) 
      translateY(0%) 
      rotate(0turn);
  }
  #{b(5)} {
    transform: translateY(-100%);
  }
}

/* ---------------------------------- */

.-red {
  animation-name: red-anim;
}

@keyframes red-anim {
  #{b(1)} {
    transform: translateX(-100%);
  }
  #{b(2)} {
    transform: translateX(0%);
  }
}

/* ---------------------------------- */

.-green {
  animation-name: green-anim;
  transform-origin: top left;
}

@keyframes green-anim {
  #{b(0)} {
    transform: translateX(100%);
  }
  #{b(1)} {
    transform: translateX(0%);
  }
  #{b(2)} {
    transform: translateX(100%) rotate(.2turn);
  }
  #{b(3)} {
    transform: translateX(100%) rotate(-.25turn);
  }
  #{b(4)} {
    transform: translateX(100%) rotate(.25turn);
  }
  #{b(4.0001)} {
    transform: translateX(0%) rotate(0turn);
  }
  #{b(5)} {
    transform: translateX(100%) rotate(0turn);
  }
}

/* ---------------------------------- */

.-yellow {
  animation-name: yellow-anim;
  transform-origin: top left;
}

@keyframes yellow-anim {
  #{b(0)}, #{b(2)} {
    transform: rotate(0);
  }
  #{b(3)} {
    transform: rotate(.45turn);
  }
  #{b(4)}, #{b(5)} {
    transform: rotate(0);
  }
}

/* ---------------------------------- */
/* Scrubbing animation control */

:root {
  --scrub: 0; 
  --play-state: running;
}

#app {
  animation-delay: calc(-1 * #{$duration} * var(--scrub));
  animation-play-state: var(--play-state);
}

#range {
  position: absolute;
  top: .5em;
  width: 80%;
  padding: .5em;
  opacity: 0.5;
  transition: opacity .3s linear;
  cursor: col-resize;

  &:hover,
  &:focus {
    opacity: 1; 
  }
}

/* ---------------------------------- */

// debug transform-origin
#app:hover {
  outline: 2px solid red;
  .box:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 15px white;
    background: red;
    transform-origin: inherit;
    transform: scale(0.1);
  } 
}

/* ---------------------------------- */

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}