body , *{
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa', cursive;
}

header {
	background: #B24592; 
	background: -webkit-linear-gradient(to right, #F15F79, #B24592); 
	background: linear-gradient(to right, #F15F79, #B24592); 
	box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.5);
	text-align: center;
	position: fixed;
	width: 100%;
	height: 70px;
}

header h1 {
	font-size: 60px;
	margin-top: -10px;
	color: #fff;
}

.button {
	position: relative;
	text-align: center;
	top: 130px;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

#modal-btn {
	background: #ff00cc;
	background: -webkit-linear-gradient(to right, #333399, #ff00cc); 
	background: linear-gradient(to right, #333399, #ff00cc); 
	border-radius: 100px;
	box-shadow: 2px 1px 20px 4px rgba(0, 0, 0, 0.5);
	font-size: 14px;
	outline: none;
	border: none;
	width: 25%;
	color: #fff;
	padding: 20px;
	transition: 0.7s ease-in-out;

}

#modal-btn:hover {
	background: #fa3380;
	background: -webkit-linear-gradient(to right, #333399, #ff00cc); 
	background: linear-gradient(to right, #fa3380, #fa3380);
	transform: scale(1.1);
	transition:  0.4s ease-in-out;
}


.modal-content {
	width: 490%;
	padding: 80px;
	margin: 0 auto;
	background: #fff;
	max-width: 400px;
	border-radius: 10px;
	line-height: 30px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.2);
}

#close {
	font-size: 14px;
	outline: none;
	border: none;
	color: #fff;
	width: 100px;
	padding: 10px;
	margin-top: 30px;
	background: #ff00cc;
	border-radius: 100px;
	background: -webkit-linear-gradient(to right, #333399, #ff00cc); 
	background: linear-gradient(to right, #333399, #ff00cc); 
	box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.5);
}


/*  FOLLOW*/
.Follow {	  background:url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")no-repeat center / contain;
	width: 50px;
	height: 50px;
	bottom: 9px;
	right: 20px;
	display:block;
	position:fixed;
	border-radius:50%;
	z-index:999;
	animation:  rotation 10s infinite linear;
	}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}





