* {
  letter-spacing: 5px;
  outline: none;
}

.container{
    margin-top: 100px;
    width: auto;

}

.pane {
    margin: 10px;
    text-align: center;
}

.message {
    text-align: center;
    color: white;
    margin: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 300px;
    position: relative;
	  background: #fa3380;
}
.message:hover {
    text-align: center;
    color: white;
    background-color: deepskyblue;
    margin: 10px;
    padding: 15px;
    width: 210px;
    border-radius:100px;
   -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  
  
   
}
#messages_container {
    background-color: #fff;
    background-size:cover;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    border-radius: 30px;
    border: 1px solid #Fa3380;
    padding: 10px;
    margin-bottom: 2px;
}

#messages_container:hover {
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 2px;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}



input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 20px;
  margin: 100px 1px 3px 0px;
  border: 1px solid #fa3380;
  width: 400px;
  border-radius: 50px;
  display: table-cell;
  vertical-align: middle;
  
 


}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 25px;
  margin: 50px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);


}



input[placeholder], [placeholder], *[placeholder] {
    color: #fa3380 ;
    font-family: 'Poiret One', cursive;
    font-size: 17px;
    font-weight: bold;
 
}



 #nick{
  background-image: linear-gradient(to right, deepskyblue 20%, orange 40%, #fa3380 100%);

}

/*Let all the flexible items be the same length regardless of its content*/
#nick {
  display: table-cell;
  vertical-align: middle;
  flex: 1 1 auto;
  margin-top:20px;
  padding: 14px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  width: 200px;
  box-shadow: 0 0 20px deepskyblue;
  border-radius: 50px;
  border-color: deepskyblue;

 }

#nick:hover {
  background-position: right center; 
}


#join{
  background-image: linear-gradient(to right, #fa3380 20%, orange 40%, deepskyblue 100%);

}

/*Let all the flexible items be the same length regardless of its content*/
#join {
  display: table-cell;
  vertical-align: middle;
  flex: 1 1 auto;
  margin-top:20px;
  padding: 14px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  width: 200px;
  box-shadow: 0 0 20px deepskyblue;
  border-radius: 50px;
  border-color: deepskyblue;

 }

#join:hover {
  background-position: right center; 
}


#send{
  background-image: linear-gradient(to right, #fa3380 20%, orange 40%, #fa3380 100%);

}

/*Let all the flexible items be the same length regardless of its content*/
#send {
  display: table-cell;
  vertical-align: middle;
  flex: 1 1 auto;
  margin-top:20px;
  padding: 14px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  width: 200px;
  box-shadow: 0 0 20px deepskyblue;
  border-radius: 50px;
  border-color: deepskyblue;

 }

#send:hover {
  background-position: right center; 
}


#quit{
  background-image: linear-gradient(to right, #fa3380 20%, orange 40%, #fa3380 100%);

}

/*Let all the flexible items be the same length regardless of its content*/
#quit {
  display: table-cell;
  vertical-align: middle;
  flex: 1 1 auto;
  margin-top:20px;
  padding: 14px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  width: 200px;
  box-shadow: 0 0 20px deepskyblue;
  border-radius: 50px;
  border-color: deepskyblue;

 }

#quit:hover {
  background-position: right center; 
}








/*  FOLLOW*/
.Follow {	  background:url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")no-repeat center / contain;
	width: 50px;
	height: 50px;
	bottom: 9px;
	right: 20px;
	display:block;
	position:fixed;
	border-radius:50%;
	z-index:999;
	animation:  rotation 10s infinite linear;
	}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}





